[submodule "HVAC_PACKAGE_20140324/files/root/can-utils"]
	path = HVAC_PACKAGE_20140324/files/root/can-utils
	url = ssh://phanchet@depot/home/phanchet/repos/com.jlr.pdx-ostc.open.AMB.can-utils.ndis-32bit.git
